.movies-container-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie-card {
  width: 23%;
  color: #f2f2f2;
  margin-bottom: 20px;
  font-size: 1em;
}

.moviePoster {
  cursor: pointer;
}

.showDetailsBtn {
  background-color: transparent;
  color: #f2f2f2;
  font-family: inherit;
  padding-left: 0px;
  border: none;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.showDetailsBtn:hover {
  font-size: 1.2em;
}
